/* #random_image {
    background-color: "https://i.pinimg.com/564x/02/29/24/022924614091517ee8e360473e4fd5c0.jpg" ;
} */
body {
    text-align: center;
    background-color: beige;
}
 #imageEdit {
    background-color: aliceblue;
    /* object-fit:fill ; */
    /* object-fit: scale-down;
    /* object-fit: scale-down;*/
} 
h1 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
h1 {
    background-color: azure;
    box-shadow: inset;
}
#image2 {

    /* object-position: top;
    object-position: right; */
    background-color: coral;
}
.image2 {
    background-color: rgb(62, 28, 28);
    color: aliceblue;
    font-size: x-large;
    font-weight: bolder;
    border: 2px;
    border-color: antiquewhite;
    /* border-width: 10px; */
    /* border-right: cyan; */
}
.menuBar {
    background-color: rgb(62, 28, 28);
    color: aliceblue;
    font-size: x-large;
    font-weight: bolder;
    border: 2px;
}
.tableEdit {
    text-align: center;
    color: blueviolet;
    background-color: aquamarine;
    font-size: large;
    font-family: fantasy;
    font-style: oblique;

}
p.tableEdit {
    font-size: 40px;
    font-weight: bolder;
}

